<div class="mt-8">
  <div class="kaushan-font text-5xl heading-style text-center my-3">Create Account</div>
  <div class="col-12 flex justify-content-center">
    <div class="col-5" [formGroup]="form">
      <div class="my-3 f-c-94 text-base text-center">By creating an account, you may receive newsletters or
        promotions.</div>
      <div class="my-5">
        <input pInputText type="text" class="w-full" placeholder="First name" formControlName="firstName"/>
        <div *ngIf="f['firstName'].touched && f['firstName'].invalid" class="text-red-400">
          <div *ngIf="f['firstName'].errors && f['firstName'].errors['required']">Enter first name.</div>
        </div>
      </div>
      <div class="my-5">
        <input pInputText type="text" class="w-full" placeholder="Last name" formControlName="lastName"/>
        <div *ngIf="f['lastName'].touched && f['lastName'].invalid" class="text-red-400">
          <div *ngIf="f['lastName'].errors && f['lastName'].errors['required']">Enter last name.</div>
        </div>
      </div>
      <div class="my-5">
        <input pInputText type="text" class="w-full" placeholder="Email" formControlName="email"/>
        <div *ngIf="f['email'].touched && f['email'].invalid" class="text-red-400">
          <div *ngIf="f['email'].errors && f['email'].errors['required']">Email is required.</div>
          <div *ngIf="f['email'].errors && f['email'].errors['email']">Please, enter valid email address.</div>
        </div>
      </div>
      <div class="my-5">
        <input pInputText type="text" class="w-full" placeholder="Phone (Optional)" formControlName="phone"/>
      </div>
      <div class="my-5 lato-regular text-center">
        <p-button class="uppercase w-full" label="CREATE ACCOUNT" (onClick)="createAccount()"></p-button>
      </div>
      <div class="my-5 lato-regular text-center">
        <span class="mr-2">Already have an account?</span>
        <span role="button" class="text-center f-c-r cursor-pointer reset"
              routerLink="/auth">Sign in</span>
      </div>
    </div>
  </div>
</div>
