<app-menubar></app-menubar>

<router-outlet>
  <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-clip-rotate-multiple"
               [fullScreen]="true"><p style="color: white"> Loading... </p></ngx-spinner>
</router-outlet>
<div class="app-bg footer-h lato-regular">
  <div class="col-12 flex flex-column justify-content-evenly align-items-center">
    <div class="text-sm my-4">Copyright © 2022 Little Rascal Daycare - All Rights Reserved.</div>
    <hr class="hr-w">
    <div class="text-sm my-3">Powered by GoDaddy Website Builder</div>
  </div>
</div>
