@media (min-width: 1280px) and (max-width: 1535px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1280px) and (max-width: 1535px) and (min-resolution: 192dpi) {
  .contact-bg {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.24) 0%, rgba(0, 0, 0, 0.24) 100%), url(//img1.wsimg.com/isteam/stock/1888/:/rs=w:3070,m);
  }
}


@media (min-width: 1280px) and (max-width: 1535px) {
  .contact-bg {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.24) 0%, rgba(0, 0, 0, 0.24) 100%), url(//img1.wsimg.com/isteam/stock/1888/:/rs=w:1535,m);
  }
}

.grid-h {
  min-height: 898px;
  max-height: 1000px;
}

.expand-icon {
  position: relative;;
  top: 2px;
}

.span-width {
  width: 50px !important;
  display: inline-block;
}

:host ::ng-deep .p-button {
  border-radius: 0;
  background-color: rgb(192, 142, 124);
  color: rgb(0, 0, 0);
  border-color: rgb(156, 106, 89);
  letter-spacing: 0.125em;
  font-family: lato-reg, sans-serif;
  font-weight: 700;
}

:host ::ng-deep .p-button:hover {
  background-color: rgb(211, 172, 159);
  color: rgb(0, 0, 0);
  border-color: rgb(156, 106, 89);
  font-weight: 700;
}


:host ::ng-deep .p-button:after {
  margin: auto;
  opacity: 1;
  border-radius: inherit;
  box-shadow: rgba(0, 0, 0, 0.2) 5px 5px 0px;
  z-index: -1;
  transition: all 0.3s ease 0s;
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  position: absolute;
  background-color: transparent;
  content: "";
}
