<div class="lg:col-12 md:col-12 xl:col-12 sm:col-6 main-section image-pos">

</div>
<div class="lg:col-12 md:col-12 xl:col-12 sm:col-6 flex align-items-center my-5 flex-column">
  <div class="col-4 text-center">
    <div class="kaushan-font heading-style font-medium text-4xl mt-6">About us</div>
  </div>
  <div class="col-4 text-center mt-6 lato-regular">
    <div class="text-2xl mb-3 letter-spacing">
      DEDICATED EDUCATORS
    </div>
    <div class="text-1xl sub-text">
      Our classes are taught by dedicated and experienced educators. Using proven teaching strategies, they make sure
      that every student finds a path to success.
    </div>
  </div>
  <div class="col-4 text-center mt-6 lato-regular">
    <div class="text-2xl mb-3 letter-spacing">
      FIRST-RATE COURSE OFFERINGS
    </div>
    <div class="text-1xl sub-text">
      We embrace a learning environment that will prepare you for the path ahead. Our classes incorporate traditional
      learning styles as well as hands-on experiences.
    </div>
  </div>
  <div class="col-4 text-center mt-6 lato-regular">
    <div class="text-2xl mb-3 letter-spacing">
      OUR MISSION
    </div>
    <div class="my-2 text-1xl sub-text">
      Your success is our priority. To support our inclusive community, we provide a personal approach, tailoring
      learning methods to each student's needs.
    </div>
  </div>
</div>

<div class="widget widget-gallery widget-gallery-gallery-8">
  <div role="region" class="col-12 w-full">
    <div>
      <section data-ux="Section">
        <div class="text-center kaushan-font heading-style">
          <h2 role="heading" aria-level="2" data-ux="SectionHeading" data-aid="GALLERY_SECTION_TITLE_RENDERED">
            <span class="text-4xl">Photo Gallery</span>
          </h2>
        </div>
        <div data-ux="Element" id="bs-7" class="mt-6">
          <span data-ux="Element" class="">
            <div
              style="display: flex; align-items: center; flex-wrap: nowrap; overflow: auto; scroll-behavior: smooth; height: 200px">
              <div data-ux="Block" class=""></div>
              <figure style="margin: 0 16px 0 0; padding: 0; flex-shrink: 0; position: relative;"
                      *ngFor="let image of galleryImages">
                <picture data-lazyimg="true" class="">
                  <source media="(max-width: 450px)" [srcset]="image.url">
                  <source media="(min-width: 451px)" [srcset]="image.url">
                  <img width="300px" height="200px" [src]="image.url" class="" alt="imageGallery">
                </picture>
              </figure>
              <div data-ux="Block" class=""></div>
            </div>
            <div data-ux="Container" class="">
              <div data-ux="HorizontalBox" class="">
                <div data-ux="Block" class=""></div>
                <div data-ux="Block" class=""></div>
                <div data-ux="Block" class=""></div>
                <div data-ux="Block" class=""></div>
              </div>
            </div>
          </span>
        </div>
      </section>
    </div>
  </div>
</div>


<div class="widget widget-reviews widget-reviews-reviews-1">
  <div role="region" class="mt-6">
    <div>
      <div role="img" class="review-background image-pos">
        <section class="review-section">
          <div class="flex flex-column justify-content-evenly col-12 align-items-center">
            <div class="col-6 text-4xl text-white">
              <h2 role="heading" class="kaushan-font text-center">Reviews</h2>
            </div>
            <div class="text-center lato-regular col-6">
              <div class="p-3 review-sub-sec">
                <span class="text-white">Reviews coming soon!</span>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>

<div class="widget widget-hiring widget-hiring-hiring-1">
  <div class="mt-6">
    <div class="col-12 text-center text-4xl kaushan-font heading-style mb-3">
      <span>We're Hiring!</span>
    </div>
    <div class="col-12 lato-regular flex justify-content-evenly">
      <div class="col-1"></div>
      <div class="col-5">
        <div class="mb-4 font-normal font-color-27 letter-spacing uppercase">JOIN OUR TEAM AND CHANGE LIVES!</div>
        <div class="f-c-94">If you're interested in one of our open positions, start by applying here and attaching your
          resume.
        </div>
      </div>
      <div class="col-5">
        <span class="mb-3 font-normal font-color-27 letter-spacing uppercase">Apply Now</span>
        <div>
          <div class="my-5">
            <span class="p-float-label">
                <input pInputText id="name" class="w-full"/>
                <label htmlFor="name">Name</label>
            </span>
          </div>
          <div class="my-5">
            <span class="p-float-label">
                <input pInputText id="phone" class="w-full"/>
                <label htmlFor="phone">Phone</label>
            </span>
          </div>
          <div class="my-5">
            <span class="p-float-label">
                <input pInputText id="email" class="w-full"/>
                <label htmlFor="email">Email*</label>
            </span>
          </div>
          <div class="my-5">
            <span class="p-float-label">
              <textarea rows="5" cols="30" pInputTextarea [autoResize]="true" class="w-full"
                        placeholder="Message"></textarea>
            </span>
          </div>
          <div class="my-5">
            <div class="flex flex-row">
              <div role="button" class="cursor-pointer f-c-r" (click)="attachResumeHandler($event)">
                <svg viewBox="0 0 24 24" fill="currentColor" width="1em" height="1em" data-ux="Icon"
                     data-aid="paperclip" class="attach-svg">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M15.6 11.6L17 13l-5.9 5.9c-1.3 1.3-2.9 1.9-4.6 1.9-1.7 0-3.2-.7-4.5-2-2.5-2.5-2.5-6.6 0-9.2l7.1-7.1.1-.1c1.9-2 5.1-2 7.1 0l.1.1c2 2 2 5.1 0 7.1l-6.9 6.6c-.7.7-1.6 1.1-2.5 1.2h-.3c-.9 0-1.7-.3-2.2-.9-.7-.7-1-1.6-.9-2.6.1-.9.5-1.8 1.2-2.5l5.5-5.8L11.7 7l-5.5 5.9c-.4.4-.6.8-.6 1.3 0 .2 0 .7.3 1 .3.3.7.3 1 .3.4 0 .9-.3 1.3-.6L15 8.2C16.2 7 16.2 5.1 15 4l-.1-.1c-1.2-1.2-3.1-1.2-4.3 0l-.7.7-6.5 6.5c-1.8 1.8-1.8 4.6 0 6.3 1.8 1.7 4.6 1.8 6.3 0l5.9-5.8z"></path>
                </svg>
              </div>
              <div role="button" aria-haspopup="menu" data-ux="Link" data-typography="LinkAlpha"
                   class="cursor-pointer f-c-r hover:text-black-alpha-90">Attach Resume
              </div>
            </div>
          </div>
          <div class="my-5 lato-regular">
            <p-button class="uppercase w-full" label="Submit Application" (onClick)="submitApplication()"></p-button>
          </div>
        </div>
      </div>
      <div class="col-1"></div>
    </div>
  </div>
</div>

